<div class="conteudo mg-top">
	<h2>Insira seus dados</h2>
	<form style="margin-left: 30px">
		<div class="container">
			<!--campo usuário-->
			<label for="login"><b>Usuário: </b></label>
			<input type="text" placeholder="ex: concert" name="login" required>
			<!--campo senha-->
			<div style="height: 20px"></div>
			<label for="senha"><b>Senha: </b></label>
			<input type="text" placeholder="ex: prova" name="senha" required>
			<!--botao login-->
			<div style="height: 20px"></div>
			<button type="submit">Login</button>
		</div>
	</form>
</div>