<app-loading *ngIf="loadingService.mostrarLoading"></app-loading>
<mat-card *ngIf="!loadingService.mostrarLoading" class="primary mat-elevation-z8">
	<mat-card-title>Alterar cadastro</mat-card-title>
	<form class="myform">
		<!--Nome-->
		<div>
		<mat-form-field>
			<mat-label>Nome</mat-label>
			<input [(ngModel)]="client.name" matInput name="name">
		</mat-form-field>
		<!--Idade-->
		<mat-form-field class="idade">
			<mat-label>Idade</mat-label>
			<input [(ngModel)]="client.age" matInput name="age">
		</mat-form-field>
		</div>
		<!--Validade-->
		<mat-form-field class="validade">
		  <mat-label>Data de validade do cadastro</mat-label>
		  <input [(ngModel)]="client.date" name="date" matInput [matDatepicker]="picker">
		  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		  <mat-datepicker #picker></mat-datepicker>
		</mat-form-field>
		<!--Sexo-->
		<mat-form-field class="sexo">
		  <mat-label>Sexo</mat-label>
		  <mat-select [(ngModel)]="client.sex" name="sex">
			<mat-option value="Masculino">Masculino</mat-option>
			<mat-option value="Feminino">Feminino</mat-option>
			<mat-option value="Não binário">Não binário</mat-option>
		  </mat-select>
		</mat-form-field>
		<!--PCD-->
		<div style="height: 15px"></div>
		<section>
		  <mat-checkbox [(ngModel)]="client.pcd" name="pcd">Pessoa com deficiência (PCD)</mat-checkbox>
		</section>
		<div style="height: 20px"></div>
		<!--Email-->
		<mat-radio-group [(ngModel)]="client.email" name="email">
		  <mat-radio-button value="Sim">Cliente deseja receber promoções no email</mat-radio-button>
		  <div style="height: 8px"></div>
		  <mat-radio-button value="Não">Cliente não deseja receber promoções no email</mat-radio-button>
		</mat-radio-group>
		<br>
		<!--Botoes-->
		<button class="salvar" (click)="editClient()" mat-raised-button>Salvar</button>
		<button class="cancelar" (click)="cancel()" mat-raised-button>Cancelar</button>
	</form>
</mat-card>