<mat-card class="mat-elevation-z8" style="margin-top: 20px">
	<mat-card-title>Componente CRUDs</mat-card-title>
	<mat-card-subtitle>Tarefa: Crie um componente para ser utilizado nos dois CRUD criados anteriormente. Esse componente precisa obrigatoriamente ter um Input e Output property.</mat-card-subtitle>
	<mat-card-subtitle>Clique em "Limpar campos" para ver o Input e em "Mandar texto" para ver o Output</mat-card-subtitle>
	<p><b>INPUT:</b> {{limpouFormulario}}</p>
	<button mat-raised-button (click)="sendMessage('funcionando')">Mandar texto</button>
</mat-card>